POSTGRES_ROOT_PASSWORD=your_postgres_root_password_here
STUDIO26F_DB_PASS=your_studio26f_db_password_here
TECHRATER_DB_PASS=your_techrater_db_password_here


STUDIO26F_OAUTH_SECRET=your_random_oauth_secret_here
TECHRATER_ADMIN_TOKEN=your_random_admin_token_here

SMTP_SERVER=smtp.gmail.com
SMTP_ACCOUNT=your-email@gmail.com
SMTP_PASSWORD=your_app_password_here
SMTP_SENDER_EMAIL=your-email@gmail.com
SMTP_SENDER_NAME=Techmino Server
